<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.tehras.workmode"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.work.WorkActivity"/>
        <activity
            android:name=".ui.preferencesetup.VolumeActivity"
            android:label="@string/title_activity_volume"
            android:theme="@style/AppTheme.NoAnim"/>
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.PreferenceOneTileService"
            android:icon="@drawable/ic_default_tile"
            android:label="Scene 1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PreferenceTwoTileService"
            android:icon="@drawable/ic_default_tile"
            android:label="Scene 2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PreferenceThreeTileService"
            android:icon="@drawable/ic_default_tile"
            android:label="Scene 3"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PreferenceFourTileService"
            android:icon="@drawable/ic_default_tile"
            android:label="Scene 4"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAYboruIJplEUd3xXX8tlPOicdwR5RFZsY"/>
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAYboruIJplEUd3xXX8tlPOicdwR5RFZsY"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYboruIJplEUd3xXX8tlPOicdwR5RFZsY"/>

        <activity android:name=".ui.permissions.PermissionsActivity">
        </activity>
    </application>

</manifest>